* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-top: 2rem;
  align-items: center; /* Align items vertically in the center */
  padding: 10px; /* Add some padding to the header */
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}
.menu-icon-label {
  display: none;
}
.menu-icon {
  display: none;
}
.nav-links {
  display: flex;
}
.logout {
  border: none;
  background-color: #fff7ed;
  color: #4d4d4d;
  font-weight: 600;
  border-radius: 1rem;
}

header nav {
  display: flex;

  margin-right: 30%;
  align-self: center;
  flex-direction: row;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;

  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: none;
}
a.active-link {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

.login-link {
  margin-top: 0;
  margin-left: 90%;
  cursor: pointer;
}
.login-icon {
  padding: 1px;

  position: absolute;
  color: #ff8c38;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transform: transform 0.1s ease-in-out; /* Typo: Change 'tranform' to 'transform' */
}

.link-button:hover {
  transform: translate(1px, 1px);
}

a.active-link {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

/* CSS for portable phones (up to 600 pixels wide) */
@media (max-width: 600px) {
  .menu-icon-label {
    display: flex;
    font-size: 1.5rem;
  }
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: none;
  }

  .nav-links.show {
    display: flex;

    position: absolute;
    flex-direction: column;
    margin-left: 1.4rem;
    background-color: white;
    border-radius: 5px;
    justify-content: space-between;
    /* Add any other styles you want for .nav-links when .menu-icon-label is hovered */
  }
  .login-icon {
    margin-left: 10%;
  }
}

/* Home page */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 358px;
  color: white;
  padding: 45px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  padding: 8px;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 65px;
  padding: 8px;
}

.home-container {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  border: none;
  width: 100%;
  margin-top: 27px;

  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a {
  text-decoration: none;

  padding: 8px;
  background-color: #ff8c38;
}

.about-page-container {
  margin: 20px;
}
.about-container a:hover {
  transform: translate(1px, 1px);
}

.about-hero-image {
  border-radius: 3%;
  max-width: 100%;
  border: solid gold;
  display: flex;
  margin-left: 25%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.about-page-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #ffcc8d;
  color: #161616;

  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta > a {
  background-color: #161616;

  color: white;
  border-radius: 10px;
}
/* CSS for portable phones (up to 600 pixels wide) */
@media only screen and (max-width: 600px) {
  .about-page-container {
    margin-left: 0px;
  }
  .about-hero-image {
    border-radius: 3%;
    max-width: 90%;
    border: solid gold;
    margin-left: 7%;
    margin-right: 7%;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .about-page-content h1 {
    line-height: 30px;
  }
  .about-page-cta {
    padding-inline: 30px;
    padding-bottom: 30px;

    margin-left: 10%;
  }
  .about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
    font-size: medium;
  }
}

/* Van */
.van-list-container {
  display: block;
  margin: 8px;
  padding: 8px;
}
.van-list-filter-buttons {
  display: flex;
  align-items: center;
  padding-block: 10px;
}
.active-link1 button {
  text-decoration: none;
  font-weight: bold;
  color: red;
  cursor: pointer;
}
/* .van-list-filter-buttons button{
background:rgb(237, 92, 175);
border-radius: 4px;
color:white;
padding: 4px;
margin: 4px;
} */

.van-list-filter-buttons a {
  text-decoration: none;
  padding: 4px;
  margin: 8px;
}
.van-list-filter-buttons button {
  padding: 4px;
  width: 6em;
  margin: 4px;
  border-radius: 4px;
  background-color: #ffcc8d;
  border: none;
  border-color: transparent;
  cursor: pointer;
}
.selected {
  background-color: #ffffff;
  color: #161616;
}
.simple.selected:is(:hover, :focus) {
  padding: 4px;
  width: 6em;
  margin: 4px;
  font-weight: 600;
  box-shadow: 0 0 1px 1px;
  color: gold;
  background-color: white;
  border-radius: 4px;
}
.comfort.selected:is(:hover, :focus) {
  padding: 4px;
  width: 6em;
  margin: 4px;
  font-weight: 600;
  box-shadow: 0 0 1px 1px;
  color: gold;
  background-color: white;
  border-radius: 4px;
}
.luxury.selected:is(:hover, :focus) {
  padding: 4px;
  width: 6em;
  margin: 4px;
  font-weight: 600;
  box-shadow: 0 0 1px 1px;
  color: gold;
  background-color: white;
  border-radius: 4px;
}
.rugged.selected:is(:hover, :focus) {
  padding: 4px;
  width: 6em;
  margin: 4px;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 0 1px 1px;
  color: gold;
  background-color: white;
}

.van-type-clear-filter {
  padding: 4px;
  width: 6em;
  margin: 4px;
  text-align: center;
  border-radius: 4px;
}
.van-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.van-title {
  border: 1.5px solid gold;
  margin: 24px;
  padding: 25px;
}

.van-list img {
  width: 150px;
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}

/* .van-info {
  margin: 8px;
  padding: 8px;
}

.van-info h3 {
  margin: 8px;
  padding: 8px;
font-size: medium;
}

.van-info p {
  margin: 8px;
  padding: 8px;
 font-size: small;
}

.van-list > .van-title > .selected{
  color: white;
  background:blueviolet;
  padding: 8px;
  margin: 6px;
  border-radius: 5px;
}


.van-list > .van-title > .selected:hover{
  background:rgb(226, 43, 147);
} */

/* inside the Link */

.van-title a {
  text-decoration: none;
  color: #161616;
}
.van-title > a > .van-info h3 {
  margin: 8px;
  padding: 8px;
  font-size: medium;
}
a > .van-list > .van-info p {
  margin: 8px;
  padding: 8px;
  font-size: small;
}
.van-title > a > .selected {
  color: white;
  background: blueviolet;
  padding: 6px;
  margin: 6px;
  border-radius: 5px;
}
.van-title > a > .selected:hover {
  background: rgb(226, 43, 147);
}

/* CSS for portable phones (up to 600 pixels wide) */
@media (max-width: 600px) {
  .van-list-filter-buttons {
    display: flex;
    flex-direction: column;
  }
  .van-list-filter-buttons button {
    padding: 1px;
    margin: 1px;
    font-weight: 500;
    background-color: #ffcc8d;
    border: none;
    border-color: transparent;
    cursor: pointer;
  }
  .simple.selected:is(:hover, :focus),
  .comfort.selected:is(:hover, :focus),
  .luxury.selected:is(:hover, :focus),
  .rugged.selected:is(:hover, :focus) {
    padding: 1px;
    width: 80%;
    margin: 1px;
    font-weight: 500;
    box-shadow: none;

    border-radius: 2px;
  }

  .active-link1 button,
  .van-list-filter-buttons button,
  .van-list-filter-buttons a {
    width: 80%;
  }
  .van-title > a > .selected {
    padding: 6px;
    margin: 4px;
  }
  .van-list-container h1 {
    font-size: 18px;
  }
}

/* van-detail-container */
.van-detail-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border: 1.5px solid gold;
  margin: 20px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
}

.van-detail-container > .van-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.van-detail-container .van-detail img {
  width: 300px;
}

.van-detail-container .van-detail i {
  padding: 10px;
  margin: 10px;
  color: white;
  background: blueviolet;
  border-radius: 5px;
  font-weight: 600;
}

.van-detail-container .van-detail h2 {
  padding: 10px;
  margin: 10px;
  font-weight: 900;
}

.van-detail-container .van-detail .link-button {
  background-color: #ff8c38;
}

/* Login page */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
  padding: 14px;
}
.login-container h1 {
  font-weight: 600;
  font-size: x-large;
}
.loginRed {
  color: rgb(226, 43, 147);
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 14px;
}
.login-form input {
  padding: 8px;
  width: 20em;
  border: none;
  margin: 1px;
  background-color: #ffffff;
}
.login-form input:is(:hover, :focus) {
  box-shadow: 0 0 2px 2px #ff8c38;
  background-color: #ffffff;
}
.login-form button {
  padding: 10px;
  margin: 25px;
  width: 20em;
  border: none;

  position: relative;
  overflow: hidden;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  isolation: isolate;
}
.login-form button:is(:hover, :focus) {
  box-shadow: 0 0 2px 2px;
  background-color: #ffffff;
  color: #ff8c38;
}
.login-form button > span {
  position: relative;
  z-index: -1;
  width: 33.333%;
  height: 100%;
}
.login-form button > :first-child {
  left: 0;
  top: 0;
}
.login-form button > :last-child {
  right: 0;
  top: 0;
}

.login-form button::before {
  content: " ";
  width: 0.1%;
  background-color: none;
  aspect-ratio: 1;
  inset: 0;
  background-color: #34fff8b5;
  color: #161616;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  transition: transform 500ms;
}

.login-form button:active::before {
  transform: scale(2500);
}
.login-form button:has(:first-child:active)::before {
  margin-left: 0;
}
.login-form button:has(:last-child:active)::before {
  margin-right: 0;
}

/* HostLayout */
.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
}
.logout:is(:focus, :active, :hover) {
  background-color: red;
  color: white;
  border-color: blue;
}
/* CSS for portable phones (up to 600 pixels wide) */
@media only screen and (max-width: 600px) {
  .host-nav {
    display: flex;
    flex-direction: row;
  }
  .host-nav a {
    font-size: 14px;
    padding: 3px 10px;
  }
}

/* FOOTER */
footer {
  padding: 20px;
  background-color: #161616;
  color: white;
  text-align: center;
}

/* host-Income */
.host-income {
  padding-inline: 26px;
  color: #161616;
}
.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}
.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}
.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

/* HOST REVIEWS */
.host-reviews {
  padding-inline: 26px;
  color: #161616;
}
.host-reviews .top-text {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  justify-content: space-between;
  margin-bottom: 32px;
}
.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}
.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

/* HOST-VANS */
.host-van-list-container {
  padding: 20px;
  margin: 20px;
  display: block;

  text-align: center;
}
.host-van-list {
  text-decoration: none;
}
a .host-van-single {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  border: 1px solid gold;
  padding: 10px;
  margin: 10px;
}
.host-van-single img {
  width: 120px;
  height: 120px;
  margin-left: 20px;
}
.host-van-list a {
  text-decoration: none;
}
.host-van-info {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
}

.host-van-info h3 {
  color: #161616;
  font-weight: 600;
}
.host-van-info p {
  color: #161616;
  font-weight: 300;
}

/* host-van-details */
.host-van-details-section {
  margin: 14px;
  padding: 14px;
}
.back-button {
  padding: 5px;
  margin: 8px;
  background-color: #ff8c38;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.host-van-details-page {
  margin: 12px;
  padding: 12px;
}

.host-van-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: white;
}
.host-van-details-block {
  display: flex;

  padding: 20px;
  margin: 20px;
  background-color: white;
}
.host-van-details {
  padding: 20px;
}
.host-van-details span {
  padding: 5px;
  margin: 2px;
  color: #ffffff;
  background-color: rgb(226, 43, 147);
  border-radius: 6px;
}
.host-van-details p {
  font-weight: 500;
}
.host-van-detail-nav a {
  background-color: #ffcc8d;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
}

.host-van-detail-nav a:is(:focus, :hover) {
  font-weight: 600;
  box-shadow: 0 0 1px 1px;
  color: gold;
  background-color: white;
  border-radius: 4px;
}
.host-van-detail-image {
  padding: 12px;
  width: 12em;
  margin: 6px;
  border-radius: 1em;
}
.host-van-detail-price {
  padding: 14px;
  margin: 10px;
}
.host-van-detail-price span {
  font-weight: 300;
}
.host-van-detail-info h4 {
  font-weight: lighter;
}
.host-van-detail-info h4 span {
  font-weight: 600;
}
.host-van-detail-info h3 {
  font-weight: 300;
  font-style: oblique;
}

.not-found-class {
  font-weight: 700;
  padding: 23px;
  margin: 10px;
}
.not-found {
  padding: 23px;
}
.not-found-class a {
  background-color: #161616;
  color: white;
  padding: 1em;
  text-decoration: none;
  margin-left: 45%;
}
